<body>
  <div [ngStyle]="{'color':'rgb(10,70,40)', 'font-weight':'bold', 'font-size':'x-large'}">Some info:</div>
  
  <img [style.width]="'100px'" src={{user.photoUrl}}>
  <div>Name: {{user.name | uppercase}}</div>
  <div>Numbers:</div>
  <div *ngFor="let i of user.numbers" [ngClass]="'item'">
    {{i}}
  </div>
  <div>Email: {{user.email}}</div>
  <div>City: {{user.city}}</div>
  <div>Exp: {{user.exp.show()}}</div>
  <div>Skills:</div>
  <div *ngFor="let i of user.skills" [ngClass]="'item'">
    {{i.show()}}
  </div>
  <div>Birth date: {{user.birthDate | date:'longDate'}}</div>
</body>

<app-hobby></app-hobby>
<router-outlet />
